/**
If this site is good looking, Martin Hobert (Epenance) made it.
If not i dont know who did the css.
 */
 
/*   
      ROFL:ROFL:LOL:ROFL:ROFL
          ______/|\____
    L    /          [] \
   LOL===_      ROFL    \_
   L     \_______________]
              I      I
         /---------------/ 
         
*/

@import url(http://fonts.googleapis.com/css?family=VT323);

* {
  margin:0;
  padding:0;
}

html, body {
  height:100%;
  font-family: 'VT323';
}

html {
  background:url(images/bg.png) repeat;
}


body {
  background-image:url(images/bg2.png);
  background-position:top;
  background-repeat:repeat-x;
  overflow:hidden;
}

header {
  text-align:center;
  background:url(images/header-bg.png) repeat;
  color:white;
  height:75px;
  line-height:75px;
}

.gameView {
  margin:auto;
  width:450px;
  min-height:calc(100% - 75px);
  border-left:5px solid yellow;
  border-right:5px solid yellow;
  cursor:url(images/pick.png), auto;
  
}

.gameView:before, .gameView:after {
  display:block;
  content:"";
  clear:both;
}

body.click .gameView  {
  cursor:url(images/pick-click.png), auto;
}

.scoreBoard {
  /*border:5px solid black; */
  position:fixed;
  left: calc(50% + 240px);
  top:80px;
  border-sizing:border-box;
  padding:20px;
  background:white;
  text-align:center;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.startScreen {
  position:absolute;
  left: calc(50% - 340px);
  top:90px;
}

.sky {
  height:113px;
  width:100%;
  background-image:url(images/sky-bg.png);
  background-size:cover;
}

/* Clearfix */
.blockRow:before, .blockRow:after {
    content: '';
    display: table;
}

.blockRow:after {
    clear: both;
}

.block {
  width:50px;
  height:50px;
  float:left;
  background-image:url(images/blocks/dirt.png);
  background-size:50px 50px;
}
 
.grass {
  background-image:url(images/blocks/grass.png);
}


.cloud {
  background-image:#d0e1ff;
}

.stone {
  background-image:url(images/blocks/stone.png);
}

.gold {
  background-image:url(images/blocks/gold.png);
}

.iron {
  background-image:url(images/blocks/iron.png);
}

.emerald {
  background-image:url(images/blocks/emerald.png);
}

.diamond {
 background-image:url(images/blocks/diamond.png); 
}

.mined {
  background-image:url(images/blocks/mined.png);
}